/* Artfully masterminded by Kevin Xu <kevin@imkevinxu.com> */

/* -----------------------------------------
   SHARED STYLES
----------------------------------------- */

.fl { float: left; }
.fr { float: right; }
.tl { text-align: left; }
.tr { text-align: right; }
.center { text-align: center; }
.clear { clear: both; }
.block { display: block !important; }
.hidden { display: none !important; }
.inline-block { display: inline-block !important; }
.error { color: #c60f13; }
.visible { opacity: 1; }
.invisible { opacity: 0; }

/* -----------------------------------------
   BASE STYLES
----------------------------------------- */

html, body {
    width: 100%;
    margin: 0px;
    padding: 0px;
}

body {
    /*font-family: 'Source Sans Pro', sans-serif;*/
    color: #333;
}

h1, h2, h3, h4, h5, h6 {
    /*font-family: 'Crimson Text', serif;*/
    color: #222;
}

/* -----------------------------------------
   HEADER & FOOTER STYLES
----------------------------------------- */

header {
    padding: 20px 0;
}

footer {
    margin-top: 50px !important;
    margin-bottom: 50px !important;
}

/* -----------------------------------------
   HERO STYLES
----------------------------------------- */

#hero {
    text-align: center;
}

#newsletter {
    border: 2px solid #ECF0F1;
}

/* -----------------------------------------
   SIGNUP STYLES
----------------------------------------- */

.signup {
    margin: 0 auto;
}

.signup .type {
    text-align: center;
    background-color: white;
    font-family: inherit;
    border: 2px solid #ECF0F1;
    -webkit-box-shadow: inset 0 1px 2px transparent;
    box-shadow: inset 0 1px 2px transparent;
    color: rgba(0, 0, 0, 0.75);
    display: inline-block;
    font-size: 0.875em;
    padding: 0.5em;
    height: 120px;
    width: 32.8% !important;
    -webkit-transition: all 0.15s linear;
    -moz-transition: all 0.15s linear;
    transition: all 0.15s linear;
    margin-bottom: 10px;
}

.signup .type:hover {
    background: #FCFCFC;
    border-color: #1EE4BD;
    outline: none;
}

.signup .type.focus {
    background: #FCFCFC;
    border-color: #1ABC9C;
    outline: none;
}

.signup .type img {
    height: 50%;
    margin-top: 10px;
}

.signup .type .name {
    position: absolute;
    bottom: 0;
    display: block;
    width: 91%;
}

.signup .type .name h6 {
    font-size: 20px;
}

.signup input[type=text], .signup input[type=email] {
    height: 45px;
    font-size: 20px
}

.signup input[type=radio] {
    position: absolute;
    top: -9999px;
}