{% extends "base.html" %}
{% block title %}{{ super() }}{% endblock %}
{% block meta_description %}{% endblock %}

{% block extra_head %}{% endblock %}

{% block content %}

<div id="hero" class="row">
    <div class="large-12">

        <h1>Stay current on the latest open-source inventions and side projects from HN</h1>

    </div>
</div>

<div class="row">
    <div class="large-6 signup">
        <form action="{% url signup %}" method="post">{% csrf_token %}
            <div class="row">
                <div class="large-12">
                    <input type="email" name="email" class="email" placeholder="Email address" required />
                </div>
            </div>

            <div class="more-info" style="display:none;">
                <div class="row">
                    <div class="large-12">
                        <h3>What do you do?</h3>
                    </div>
                </div>

                <div class="row">
                    <div class="large-4 type" data-type="hacker">
                        <img src="{{ MEDIA_URL }}images/laptop.png" alt="">
                        <div class="name"><h6>Hacker</h6></div>
                    </div>
                    <div class="large-4 type" data-type="designer">
                        <img src="{{ MEDIA_URL }}images/paintbrush.png" alt="">
                        <div class="name"><h6>Designer</h6></div>
                    </div>
                    <div class="large-4 type" data-type="recruiter">
                        <img src="{{ MEDIA_URL }}images/person.png" alt="">
                        <div class="name"><h6>Recruiter</h6></div>
                    </div>
                </div>

                <input type="radio" name="type" value="hacker" />
                <input type="radio" name="type" value="designer" />
                <input type="radio" name="type" value="recruiter" />

                <div class="row">
                    <div class="large-9 inline-block" style="margin-right: -5px">
                        <input type="text" name="type_other" class="type_other" placeholder="Other awesome profession" />
                    </div>
                    <div class="large-3 tr inline-block">
                        <input type="submit" class="button submit" value="Sign Up" />
                    </div>
                </div>
                <img src="{{ MEDIA_URL }}images/loader.gif" class="loader" style="display:none;">
            </div>
        </form>
        <h3 style="display: none;">Thanks for signing up!<br/>Please check your email to confirm.</h3>
        <h3 style="display: none;">Sorry there appears to be an error :/<br/>Please try again.</h3>
    </div>
</div>

<div class="row">
    <div class="twelve columns center">
        <img src="{{ MEDIA_URL }}images/newsletter.png" id="newsletter" alt="">
    </div>
</div>

<div class="row">
    <div class="large-12 center">

        <h1>Sign Up to get this newsletter now</h1>

    </div>
</div>

<div class="row">
    <div class="large-6 signup">
        <form action="{% url signup %}" method="post">{% csrf_token %}
            <div class="row">
                <div class="large-12">
                    <input type="email" name="email" class="email" placeholder="Email address" required />
                </div>
            </div>

            <div class="more-info">
                <div class="row">
                    <div class="large-12">
                        <h3>What do you do?</h3>
                    </div>
                </div>

                <div class="row">
                    <div class="large-4 type" data-type="hacker">
                        <img src="{{ MEDIA_URL }}images/laptop.png" alt="">
                        <div class="name"><h6>Hacker</h6></div>
                    </div>
                    <div class="large-4 type" data-type="designer">
                        <img src="{{ MEDIA_URL }}images/paintbrush.png" alt="">
                        <div class="name"><h6>Designer</h6></div>
                    </div>
                    <div class="large-4 type" data-type="recruiter">
                        <img src="{{ MEDIA_URL }}images/person.png" alt="">
                        <div class="name"><h6>Recruiter</h6></div>
                    </div>
                </div>

                <input type="radio" name="type" value="hacker" />
                <input type="radio" name="type" value="designer" />
                <input type="radio" name="type" value="recruiter" />

                <div class="row">
                    <div class="large-9 inline-block" style="margin-right: -5px">
                        <input type="text" name="type_other" class="type_other" placeholder="Other awesome profession" />
                    </div>
                    <div class="large-3 tr inline-block">
                        <input type="submit" class="button submit" value="Sign Up" />
                    </div>
                </div>
                <img src="{{ MEDIA_URL }}images/loader.gif" class="loader" style="display:none;">
            </div>
        </form>
        <h3 style="display: none;">Thanks for signing up!<br/>Please check your email to confirm.</h3>
        <h3 style="display: none;">Sorry there appears to be an error :/<br/>Please try again.</h3>
    </div>
</div>

{% endblock %}

{% block javascript %}{% endblock %}
